# ---- Python ignores ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.punch

# ---- VTK / Radioss / Simulation files ----
*.vtk
*.k

*.rst
*.rad
*.json
*.geo_unrolled



# More Radioss DATA files
*ThreePointBendingA*
*ThreePointBendingT*
*combineT
*combineA*

# (Optional) keep specific text files:
# !README.txt
# !config.txt

# ---- OS / Editor ----
# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/

# PyCharm
.idea/

# ---- Virtual environments ----
venv/
.env/
.venv/

# ---- Build / cache ----
build/
dist/
*.egg-info/
